body {
  background-color: #ebe5ce;
  font-family: Garamond, serif;
}
#message{
  background: #45FF92;
  border: 2px solid #00C453;
  padding: 10px 40px;
  margin: 11px 0;
  border-radius: 4px;
  opacity: 1;
  transition: opacity .2s ease;
}
#message.dismissed{
  opacity: 0;
  height: 0;
}
body.dark-mode {
  background: #010101;
  color: #ffffff;
}
body.dark-mode button {
  background-color: #ffffff;
}
h1#site-title {
  color: #6b131d;
  letter-spacing: -2px;
  text-align: center;
  margin: 2%;
  font-size: 50px;
}
header {
  font-size: 40px;
  text-align: center;
  color: white;
}
#box {
  display: center;
  text-align: center;
  background-color: black;
  color: white;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;}
@keyframes animatedgradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

figure img {
  border: 2px solid black;
  width: 400px;
}
figcaption {
  background-color: #6b131d;
  color: #ebe5ce;
  width: 404px;
}
figure img {
  border: 2px solid black;
  width: 400px;
}
.paragraph{
  padding: 50px;
  width: 100px;
}
.p1 {
  float: right;
  text-align: left;
  color: black;
  padding: 50px;
  width: 100px;
 font-size: 17px;
}