nav ul {background-color: #5e010c;
  display: flex;
  list-style: none;
  margin: auto;
  font-family: Garamond, serif;
  width: 100%;
  text-align: center;
  padding: 3px 6px;
  font-size: 21px;}
nav ul li {
  padding: 3px;
  width: 100%;
  text-align: center;}
nav ul li:last-child {
  border-bottom: none;
  text-align: center;}
nav ul li a {
  color: rgb(212, 208, 196);
  text-align: center;
  text-decoration: none;}
nav ul li a:hover {
  text-decoration: underline;}