nav ul {background-color: #5e010c;
  list-style: none;
  padding: 0;
  width: 400px;
  border: 1px solid black;
  font-family: Garamond, serif;}
nav ul li {
  border-bottom: 1px solid black;
  padding: 5px;
  width: 390px;
  border: 1px solid black;}
nav ul li:last-child {
  border-bottom: none;}
nav ul li a {
  color: rgb(212, 208, 196);
  text-decoration: none;}
nav ul li a:hover {
  text-decoration: underline;}