body {
  background-color: #ebe5ce;
  font-family: Garamond, serif;
}
h1#site-title {
  color: #6b131d;
  letter-spacing: -2px;
  text-align: center;
  margin: 2%;
  font-size: 50px;
}
header {
  color: #6b131d;
  font-size: 40px;
  text-align: center;
}
figure img {
  border: 2px solid black;
  width: 400px;
}
figcaption {
  background-color: #6b131d;
  color: #ebe5ce;
  width: 404px;
}
figure img {
  border: 2px solid black;
  width: 400px;
}